{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OrganicFruits</title>
        <link rel="stylesheet" href="{% static 'css/footerstyle.css' %}"></link>
    </head>
    <body>
        {% comment %} footer section {% endcomment %}
        <footer class="footer" id="footer">
            <div class="footer-container">
                <!-- Quick Links Section -->
                <div class="footer-column">
                    <h3>Quick Links</h3>
                    <p><a href="#">Home</a></p>
                    <p><a href="#">Shop</a></p>
                    <p><a href="#">Cart</a></p>
                </div>
        
                <!-- Contact Information Section -->
                <div class="footer-column">
                    <h3>Contact Us</h3>
                    <p>Email: support@organicjuice.com</p>
                    <p>Phone: +977 98217 84928</p>
                    <p>Location: Kathamandu, Nepal</p>
                </div>
                <div class="footer-column">
                    <p id="abt"><a href="#">About Us</a></p>
                    <p id="p">At Organic Juice, we believe that health and nature go hand in hand.
                        Our mission is to bring you the freshest, most natural juices made 
                        from 100% organic fruits and vegetables, free from artificial flavors, 
                        preservatives, or chemicals.<br>
                        🌱 Our Story
                        Founded with a passion for healthy living, Organic Juice started as a
                         small family-owned business dedicated to providing nutritious, 
                         delicious, and sustainable beverages. Over the years, we have grown 
                         into a trusted brand, loved by health-conscious individuals who seek 
                         pure, farm-fresh flavors in every sip.
                       </p>
                </div>
            </div>

            
            <p style="text-align:center; color:white; font-size:20px; margin-top:20px;">
                    &copy; 2025 Developed by Manish Pasman
            </p>

        <script src="{% static 'js/scroll.js'%}"></script>
    </body>
</html>